<!-- About -->
<app-nev2></app-nev2>
<section class="about py-5" id="about">
    <div class="container py-lg-3 py-2">
        <div class="heading text-center">

            <h3 class="heading mb-sm-5 mb-3 text-uppercase">About us</h3>
        </div>
        <div class="row about-grids">
            <div class="col-lg-4 about-grid1 mb-lg-0 mb-5">
                <h3 class="text-uppercase">Poker Sports League</h3>
                <p class="my-lg-4 my-3">Poker league India, PSL 2019, Buy poker teams in India, upcoming Poker league in India, Poker Sport league 2019, poker leaderboard, best poker team India, PSL updates.
                </p>

            </div>
            <div class="col-lg-4 col-md-6">
                <div class="about-grid2 p-5">
                    <h3></h3>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="about-grid3 p-5">
                    <h3></h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //About -->