<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="icon" type="image/png" sizes="32x32" href="https://d3rrji2dvvcisw.cloudfront.net/images/favicon-32x32.png">
    <link rel="stylesheet" href="https://d3rrji2dvvcisw.cloudfront.net/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://d3rrji2dvvcisw.cloudfront.net/css/owl.carousel.min.css">
    <link rel="stylesheet" href="https://d3rrji2dvvcisw.cloudfront.net/css/style.css">
    <link rel="stylesheet" href="https://d3rrji2dvvcisw.cloudfront.net/css/inner.css">
    <style>
        #imgSlider {
            background: url(https://d3rrji2dvvcisw.cloudfront.net/data/team/Gujarat_web_banner.jpg) no-repeat center top / auto 100%;
        }
        
        @media only screen and (max-width: 640px) {
            #imgSlider {
                background: url(https://d3rrji2dvvcisw.cloudfront.net/data/team/Gujarat-mobile-banner.jpg) no-repeat center top / 100% auto;
            }
        }
    </style>
</head>

<body>
    <header class="header">
        <app-nev2></app-nev2>
        <nav>
            <div class="container">
                <div class="row">
                    <div class="col-xs-6 col-sm-2 col-lg-3 logo">
                        <a href="/psldemo"><img src="https://d3rrji2dvvcisw.cloudfront.net/images/logo1.png" alt=""></a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <section class="subPagebanner">
        <div class="">
            <div class="item">
                <div id="imgSlider" class="imgSlider teambanner">
                    <div class="container spclftAlgn">
                        <div class="bannerMidSec">
                            <!--  <img src="https://d3rrji2dvvcisw.cloudfront.net/data/team/Gujarat_web_banner.jpg" alt="">-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="teamSec">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 gloglebggray text-center">

                    <h3 class="globleHeading globlegreen text-center">TEAM OWNERS</h3>
                    <div class="col-xs-12 col-sm-3 nofloatblock">
                        <div class="innerTab">
                            <div class=""><img src="../data/owner/avatar12.jpg" alt=""></div>
                            <div class="txtname globlegreen">Veenit Raval</div>
                            <div class="">Fuji Silvertech</div>
                            <div class="txtdeg"></div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 nofloatblock">
                        <div class="innerTab">
                            <div class=""><img src="../data/owner/avatar13.jpg" alt=""></div>
                            <div class="txtname globlegreen">Akash Singhania</div>
                            <div class="">Refcom India</div>
                            <div class="txtdeg"></div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 nofloatblock">
                        <div class="innerTab">
                            <div class=""><img src="../data/owner/Jaydeep_Dawer_-_Gujarat.jpg" alt=""></div>
                            <div class="txtname globlegreen">Jaydeep Dawer</div>
                            <div class=""></div>
                            <div class="txtdeg"></div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 nofloatblock">
                        <div class="innerTab">
                            <div class=""><img src="../data/owner/avatar15.jpg" alt=""></div>
                            <div class="txtname globlegreen">Shubhra Bhardwaj</div>
                            <div class=""></div>
                            <div class="txtdeg"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 gloglebggray">
                    <h3 class="globleHeading globlegreen col-xs-12 col-sm-8 setPosabs">Mentor</h3>
                    <div class="col-xs-12">

                        <div class="inlineBlck col-xs-12 col-sm-4 text-center"><img src="https://d3rrji2dvvcisw.cloudfront.net/images/mentor/Romit_Advani4.png" alt=""></div>

                        <div class="inlineBlck col-xs-12 col-sm-7">Poker Sports Leagues</div>
                    </div>

                </div>
                <div class="innerWrapper">
                    <h3 class="globleHeading globlegreen text-center">PROS</h3>
                    <div class="col-xs-12 gloglebggray text-center">
                        <div class="row">

                            <div class="col-xs-6 col-sm-3">
                                <div class="innerTab pos-relative">
                                    <img src="https://d3rrji2dvvcisw.cloudfront.net/images/mentor/Zarvan_Tumboli.jpg" alt=""> <span class="setonBtm">Zarvan Tumboli </span>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-3">
                                <div class="innerTab pos-relative">
                                    <img src="https://d3rrji2dvvcisw.cloudfront.net/images/mentor/Jaydeep_Dawer.jpg" alt=""> <span class="setonBtm">Jaydeep Dawer</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="innerWrapper">
                    <h3 class="globleHeading globlegreen text-center">Live Qualifiers</h3>
                    <div class="col-xs-12 gloglebggray text-center">
                        <div class="row">
                            <div class="col-xs-6 col-sm-3">
                                <div class="innerTab pos-relative">
                                    <img src="https://d3rrji2dvvcisw.cloudfront.net/data/qualifier/1523986489.jpg" alt=""> <a class="btn customBtn setonBtm">Ankit Takle</a>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-3">
                                <div class="innerTab pos-relative">
                                    <img src="https://d3rrji2dvvcisw.cloudfront.net/data/qualifier/1523986591.jpg" alt=""> <a class="btn customBtn setonBtm">Loveleen Singh</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="innerWrapper">
                    <h3 class="globleHeading globlegreen text-center">Wild Cards</h3>
                    <div class="col-xs-12 gloglebggray text-center">
                        <div class="row">
                            <div class="col-xs-6 col-sm-3">
                                <div class="innerTab pos-relative">
                                    <img src="https://d3rrji2dvvcisw.cloudfront.net/images/mentor/Gujarat_-_Ioannis_A__Konstas.jpg" alt=""> <a class="btn customBtn setonBtm">Ioannis A. Konstas</a>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-3">
                                <div class="innerTab pos-relative">
                                    <img src="https://d3rrji2dvvcisw.cloudfront.net/images/mentor/Gujarat_-_Eka_Vedantham.jpg" alt=""> <a class="btn customBtn setonBtm">Eka Vedantham</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="innerWrapper">

                    <h3 class="globleHeading globlegreen text-center">Online Qualifiers</h3>
                    <div class="col-xs-12 gloglebggray text-center">
                        <div class="row">
                            <div class="col-xs-6 col-sm-3">
                                <div class="innerTab pos-relative">
                                    <img src="https://d3rrji2dvvcisw.cloudfront.net/data/qualifier/1523986284.jpg" alt=""> <a class="btn customBtn setonBtm">Mayank Jain</a>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-3">
                                <div class="innerTab pos-relative">
                                    <img src="https://d3rrji2dvvcisw.cloudfront.net/data/qualifier/1523986412.jpg" alt=""> <a class="btn customBtn setonBtm">Naman Khettry</a>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-3">
                                <div class="innerTab pos-relative">
                                    <img src="https://d3rrji2dvvcisw.cloudfront.net/data/qualifier/1523986961.jpg" alt=""> <a class="btn customBtn setonBtm">Ram Kakkar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 gloglebggray">
                    <h3 class="globleHeading globlegreen col-xs-12 col-sm-8 setPosabs">REGION - West</h3>

                    <div class="col-xs-12">
                        <div class="inlineBlck col-xs-12 col-sm-4 text-center"><img src="https://d3rrji2dvvcisw.cloudfront.net/data/region/west-india.png" alt=""></div>
                        <div class="inlineBlck col-xs-12 col-sm-7">
                            <ul>
                                <li>- Chhattisgarh</li>
                                <li>- Dadra and Nagar Haveli</li>
                                <li>- Daman and Diu</li>
                                <li>- Goa</li>
                                <li>- Gujarat</li>
                                <li>- Madhya Pradesh</li>
                                <li>- Maharashtra</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>




    <footer>
        <div class="footerNav">

        </div>
        <div class="allrights">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">©Poker Sports League. All Rights Reserved</div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-89502683-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-89502683-1');
    </script>

    <script data-obct type="text/javascript">
        /** DO NOT MODIFY THIS CODE**/ ! function(_window, _document) {
            var OB_ADV_ID = '00fabbc9c397955804969747d2789f994b';
            if (_window.obApi) {
                var toArray = function(object) {
                    return Object.prototype.toString.call(object) === '[object Array]' ? object : [object];
                };
                _window.obApi.marketerId = toArray(_window.obApi.marketerId).concat(toArray(OB_ADV_ID));
                return;
            }
            var api = _window.obApi = function() {
                api.dispatch ? api.dispatch.apply(api, arguments) : api.queue.push(arguments);
            };
            api.version = '1.1';
            api.loaded = true;
            api.marketerId = OB_ADV_ID;
            api.queue = [];
            var tag = _document.createElement('script');
            tag.async = true;
            tag.src = '//amplify.outbrain.com/cp/obtp.js';
            tag.type = 'text/javascript';
            var script = _document.getElementsByTagName('script')[0];
            script.parentNode.insertBefore(tag, script);
        }(window, document);
        obApi('track', 'PAGE_VIEW');
    </script>

    <img src='//pixel.mathtag.com/event/img?mt_id=1334628&mt_adid=208364&mt_exem=&mt_excl=&v1=&v2=&v3=&s1=&s2=&s3=' width='1' height='1' />
    <!-- Facebook Pixel Code -->
    <script>
        ! function(f, b, e, v, n, t, s) {
            if (f.fbq) return;
            n = f.fbq = function() {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '555586341482250');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=555586341482250&ev=PageView&noscript=1"
/></noscript>
    <!-- End Facebook Pixel Code -->
    <script src="https://d3rrji2dvvcisw.cloudfront.net/js/jquery.min.js"></script>
    <script src="https://d3rrji2dvvcisw.cloudfront.net/js/owl.carousel.js"></script>
    <script src="https://d3rrji2dvvcisw.cloudfront.net/js/main.js"></script>
    <script type="text/javascript">
        $(function() {
            $('.innerWrapper .gloglebggray .row').each(function() {
                var getval = $(this).children('.col-xs-6').length;
                if ($(this).children('.col-xs-6').length == 2) {
                    $(this).children('.col-xs-6:last-child').addClass('pull-right');
                }
                if ($(this).children('.col-xs-6').length == 3) {
                    $(this).children('.col-xs-6:last-child').addClass('pull-right');
                    $(this).children('.col-xs-6:nth-child(2)').addClass('nofloatblock');
                }

            })

        })
    </script>

</body>

</html>