<body>

    <!--/header-->
    <header>
        <div class="top-forms text-left mt-3">
            <app-nevigation></app-nevigation>
        </div>
        <div class="top-bar_sub container-fluid">
            <div class="logo text-center">
                <a class="navbar-brand" href="index.html">
                     Poker Sports League </a>
            </div>
        </div>
    </header>

    <!-- banner -->
    <section class="banner" id="home">
        <div class="callbacks_container">
            <ul class="rslides" id="slider3">
                <li>
                    <div class="slider-info bg1">
                        <div class="bs-slider-overlay">
                            <div class="banner-text container">
                                <h5 class="tag text-left mb-3 text-uppercase">India's First Poker League </h5>
                                <h1 class="movetxt text-left agile-title text-uppercase">Register for New Season </h1>
                                <a class="bt mt-4 text-capitalize scroll" href="#about" role="button"> read more

        </a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="slider-info bg2">
                        <div class="bs-slider-overlay">
                            <div class="banner-text container">
                                <h5 class="tag text-left mb-3 text-uppercase">Poker Event Sikkim</h5>
                                <h4 class="movetxt text-left agile-title text-uppercase">Know more about PSL </h4>
                                <h4 class="movetxt text-left mb-3 agile-title text-uppercase">Our Duty </h4>
                                <a class="bt mt-4 text-capitalize scroll" href="#about" role="button"> read more

        </a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="slider-info bg3">
                        <div class="bs-slider-overlay">
                            <div class="banner-text container">
                                <h5 class="tag text-left mb-3 text-uppercase">#Poker</h5>
                                <h4 class="movetxt text-left agile-title text-uppercase">First of its kind platform </h4>
                                <h4 class="movetxt text-left mb-3 agile-title text-uppercase">Connect More with Poker </h4>

                                <a class="bt mt-4 text-capitalize scroll" href="#about" role="button"> read more

        </a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="slider-info bg4">
                        <div class="bs-slider-overlay">
                            <div class="banner-text container">

                                <a class="bt mt-4 text-capitalize scroll" href="#about" role="button"> read more

        </a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <!-- //banner -->

    <!-- About -->
    <section class="about py-5" id="about">
        <div class="container py-lg-3 py-2">
            <div class="heading text-center">

                <h3 class="heading mb-sm-5 mb-3 text-uppercase">About us</h3>
            </div>
            <div class="row about-grids">
                <div class="col-lg-4 about-grid1 mb-lg-0 mb-5">
                    <h3 class="text-uppercase">Poker Sports League</h3>
                    <p class="my-lg-4 my-3">Poker league India, PSL 2019, Buy poker teams in India, upcoming Poker league in India, Poker Sport league 2019, poker leaderboard, best poker team India, PSL updates.
                    </p>
                    <a class="bt text-capitalize" routerLink="/about" routerLinkActive="router-link-active" role="button"> read more

    </a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="about-grid2 p-5">
                        <h3></h3>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="about-grid3 p-5">
                        <h3></h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //About -->



    <!-- Team -->
    <section class="barbers py-5" id="team">
        <div class="container py-lg-3 py-2">
            <div class="heading text-center">

                <h3 class="heading mb-sm-5 mb-3 text-uppercase">Teams</h3>
            </div>
            <div class="row barber-grids">
                <div class="col-lg-3 col-sm-6 mb-lg-0 mb-5 text-center team-div">
                    <div class="barber-grid1" routerLink="/andhra-bullets" routerLinkActive="router-link-active" href='#top'>
                        <img src="assets/images/Andhra.jpg" class="img-fluid team-img" alt="" href='#top' />
                    </div>


                </div>
                <div class="col-lg-3 col-sm-6 mb-lg-0 mb-5 text-center team-div" alt="">
                    <div class="barber-grid1" routerLink="/bengaluru-warriors" routerLinkActive="router-link-active">
                        <img src="assets/images/Bengaluru.jpg" class="img-fluid team-img" alt="" />
                    </div>


                </div>
                <div class="col-lg-3 col-sm-6 mb-md-0 mb-5 text-center team-div" routerLink="/chennai-thalaivas" routerLinkActive="router-link-active">
                    <div class="barber-grid1">
                        <img src="assets/images/Chennai.jpg" class="img-fluid team-img" alt="" />
                    </div>

                </div>
                <div class="col-lg-3 col-sm-6 text-center team-div">
                    <div class="barber-grid1" routerLink="/delhi-penthars" routerLinkActive="router-link-active">
                        <img src="assets/images/Delhi.jpg" class="img-fluid team-img" alt="" />
                    </div>

                </div>
                <div class="col-lg-3 col-sm-6 text-center team-div" routerLink="/gujrat-falcons" routerLinkActive="router-link-active">
                    <div class="barber-grid1">
                        <img src="assets/images/Gujarat.jpg" class="img-fluid team-img" alt="" />
                    </div>

                </div>
                <div class="col-lg-3 col-sm-6 text-center team-div" routerLink="/goan-nuts" routerLinkActive="router-link-active">
                    <div class="barber-grid1">
                        <img src="assets/images/Goa.jpg" class="img-fluid team-img" alt="" />
                    </div>

                </div>
                <div class="col-lg-3 col-sm-6 text-center team-div" routerLink="/kolkata-kings" routerLinkActive="router-link-active">
                    <div class="barber-grid1">
                        <img src="assets/images/Kolkata.jpg" class="img-fluid team-img" alt="" />
                    </div>

                </div>
                <div class="col-lg-3 col-sm-6 text-center team-div" routerLink="/mumbai-anchors" routerLinkActive="router-link-active">
                    <div class="barber-grid1">
                        <img src="assets/images/Mumbai.jpg" class="img-fluid team-img" alt="" />
                    </div>

                </div>
                <div class="col-lg-3 col-sm-6 text-center team-div" routerLink="/pune-sharks" routerLinkActive="router-link-active">
                    <div class="barber-grid1">
                        <img src="assets/images/Pune.jpg" class="img-fluid team-img" alt="" />
                    </div>

                </div>
                <div class="col-lg-3 col-sm-6 text-center team-div" routerLink="/punjab-bluffers" routerLinkActive="router-link-active">
                    <div class="barber-grid1">
                        <img src="assets/images/Punjab.jpg" class="img-fluid team-img" alt="" />
                    </div>

                </div>
                <div class="col-lg-3 col-sm-6 text-center team-div" routerLink="/rajasthan-tilters" routerLinkActive="router-link-active">
                    <div class="barber-grid1">
                        <img src="assets/images/Rajasthan.jpg" class="img-fluid team-img" alt="" />
                    </div>


                </div>
            </div>
        </div>
    </section>
    <!-- //Team -->




    <!-- contact map and address -->
    <section class="contact py-5" id="contact">
        <div class="container">
            <div class="heading text-center">

                <h3 class="heading mb-sm-5 mb-3 text-uppercase">Locate Us</h3>
            </div>
            <div class="contact-main-grid">
                <div class="contact-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15379.191398692365!2d73.833639!3d15.495302!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcf2579638f5eb252!2sGera&#39;s+Imperium+Grand!5e0!3m2!1sen!2sin!4v1566195610253!5m2!1sen!2sin" width="600"
                        height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <div class="contact-info">
                    <div class="mb-5">
                        <h4 class="mb-3">Address</h4>
                        <p><span class="fas fa-map mr-2"></span>606, Gera Grand Imperium, Patto</p>
                        <p>Panjim,Goa.</p>
                        <p><span class="fas fa-phone mr-2"></span> +12 345 567 7890</p>
                        <p><span class="fas fa-envelope mr-2"></span> <a href="info@pokersportsleague.com"> info@pokersportsleague.com</a> </p>
                    </div>
                    <div class="">
                        <h4 class="mb-3">Opening Hours</h4>
                        <p><span class="fas fa-clock mr-2"></span> Monday – Friday : 9am - 6pm</p>
                        <p><span class="fas fa-clock mr-2"></span> Saturday and Sunday : 10am - 4pm</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- contact map and address -->



    <!-- footer section -->
    <section class="newsletter text-center py-5">
        <div class="container py-lg-3">
            <div class="logo mb-5 text-center">
                <a class="navbar-brand" href="index.html">
                    Poker Sports League </a>
            </div>
            <div class="subscribe_inner">


                <div class="social mt-5">
                    <ul class="d-flex mt-4 justify-content-center">
                        <li class="mx-2"><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                        <li class="mx-2"><a href="#"><span class="fab fa-twitter"></span></a></li>
                        <li class="mx-2"><a href="#"><span class="fas fa-rss"></span></a></li>
                        <li class="mx-2"><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                        <li class="mx-2"><a href="#"><span class="fab fa-google-plus"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="copyright mt-5">
                <p>© 2018 Poker Sports League. All Rights Reserved </p>
            </div>
        </div>
    </section>
</body>
<!-- //footer section -->