<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Delhi Panthers PSL 2018-Poker Sports League</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content=" Delhi Panthers PSL Team 2018-Know the complete details about  Delhi Panthers Team 2018, It's Onwers, Players and Mentor .">
    <meta name="keywords" content=" Delhi Panthers, PSL Team 2018, PSL 2018 players of Delhi Panthers Team, PSL Delhi Panthers 2018, Delhi Panthers Team owners, Delhi Panthers Team mentor 2018">
    <link rel="icon" type="image/png" sizes="32x32" href="https://d3rrji2dvvcisw.cloudfront.net/images/favicon-32x32.png">
    <link rel="stylesheet" href="https://d3rrji2dvvcisw.cloudfront.net/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://d3rrji2dvvcisw.cloudfront.net/css/owl.carousel.min.css">
    <link rel="stylesheet" href="https://d3rrji2dvvcisw.cloudfront.net/css/style.css">
    <link rel="stylesheet" href="https://d3rrji2dvvcisw.cloudfront.net/css/inner.css">
    <style>
        #imgSlider {
            background: url(https://d3rrji2dvvcisw.cloudfront.net/data/team/Delhi_web_banner_1.jpg) no-repeat center top / auto 100%;
        }

        @media only screen and (max-width: 640px) {
            #imgSlider {
                background: url(https://d3rrji2dvvcisw.cloudfront.net/data/team/Delhi-mobile-banner.jpg) no-repeat center top / 100% auto;
            }
        }
    </style>
</head>

<body>
    <header class="header">
        <app-nev2></app-nev2>
        <nav>
            <div class="container">
                <div class="row">
                    <div class="col-xs-6 col-sm-2 col-lg-3 logo">
                        <a href="/index.html"><img src="https://d3rrji2dvvcisw.cloudfront.net/images/logo1.png" alt=""></a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <section class="subPagebanner">
        <div class="">
            <div class="item">
                <div id="imgSlider" class="imgSlider teambanner">
                    <div class="container spclftAlgn">
                        <div class="bannerMidSec">
                            <!--  <img src="https://d3rrji2dvvcisw.cloudfront.net/data/team/Delhi_web_banner_1.jpg" alt="">-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="teamSec">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 gloglebggray text-center">

                    <h3 class="globleHeading globlegreen text-center">TEAM OWNERS</h3>
                    <div class="col-xs-12 col-sm-3 nofloatblock">
                        <div class="innerTab">
                            <div class=""><img src="../data/owner/rishi_kajaria.jpg" alt=""></div>
                            <div class="txtname globlegreen">Rishi Kajaria</div>
                            <div class=""> Kajaria Ceramics</div>
                            <div class="txtdeg"></div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 nofloatblock">
                        <div class="innerTab">
                            <div class=""><img src="../data/owner/ruchirans_jaipuria_new.jpg" alt=""></div>
                            <div class="txtname globlegreen">Ruchirans Jaipuria</div>
                            <div class="">Jaipuria Group</div>
                            <div class="txtdeg"></div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 nofloatblock">
                        <div class="innerTab">
                            <div class=""><img src="../data/owner/avatar8.jpg" alt=""></div>
                            <div class="txtname globlegreen">Abhishek Jain</div>
                            <div class="">Leela Jewels</div>
                            <div class="txtdeg"></div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 nofloatblock">
                        <div class="innerTab">
                            <div class=""><img src="../data/owner/gaurav_goel.jpg" alt=""></div>
                            <div class="txtname globlegreen">Gaurav Goel</div>
                            <div class="">Dhampur Sugar</div>
                            <div class="txtdeg"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 gloglebggray">
                    <h3 class="globleHeading globlegreen col-xs-12 col-sm-8 setPosabs">Mentor</h3>
                    <div class="col-xs-12">

                        <div class="inlineBlck col-xs-12 col-sm-4 text-center"><img src="https://d3rrji2dvvcisw.cloudfront.net/images/mentor/Akash_Malik.png" alt=""></div>

                        <div class="inlineBlck col-xs-12 col-sm-7">Poker Sports League</div>
                    </div>

                </div>
                <div class="innerWrapper">
                    <h3 class="globleHeading globlegreen text-center">PROS</h3>
                    <div class="col-xs-12 gloglebggray text-center">
                        <div class="row">

                            <div class="col-xs-6 col-sm-3">
                                <div class="innerTab pos-relative">
                                    <img src="https://d3rrji2dvvcisw.cloudfront.net/images/mentor/Shashank_Jain1.jpg" alt=""> <span class="setonBtm">Shashank Jain </span>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-3">
                                <div class="innerTab pos-relative">
                                    <img src="https://d3rrji2dvvcisw.cloudfront.net/images/mentor/Vinod_Megalmani.jpg" alt=""> <span class="setonBtm">Vinod Megalmani</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="innerWrapper">
                    <h3 class="globleHeading globlegreen text-center">Live Qualifiers</h3>
                    <div class="col-xs-12 gloglebggray text-center">
                        <div class="row">
                            <div class="col-xs-6 col-sm-3">
                                <div class="innerTab pos-relative">
                                    <img src="https://d3rrji2dvvcisw.cloudfront.net/data/qualifier/1523977229.jpg" alt=""> <a class="btn customBtn setonBtm">Akshay Nasa</a>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-3">
                                <div class="innerTab pos-relative">
                                    <img src="https://d3rrji2dvvcisw.cloudfront.net/data/qualifier/1523977355.jpg" alt=""> <a class="btn customBtn setonBtm">Vaibhav Sharma</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="innerWrapper">
                    <h3 class="globleHeading globlegreen text-center">Wild Cards</h3>
                    <div class="col-xs-12 gloglebggray text-center">
                        <div class="row">
                            <div class="col-xs-6 col-sm-3">
                                <div class="innerTab pos-relative">
                                    <img src="https://d3rrji2dvvcisw.cloudfront.net/images/mentor/Delhi_-_Martin_Jacobson.jpg" alt=""> <a class="btn customBtn setonBtm">Martin Jacobson</a>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-3">
                                <div class="innerTab pos-relative">
                                    <img src="https://d3rrji2dvvcisw.cloudfront.net/images/mentor/Delhi_-_Terry_Fan.jpg" alt=""> <a class="btn customBtn setonBtm">Terry Fan</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="innerWrapper">

                    <h3 class="globleHeading globlegreen text-center">Online Qualifiers</h3>
                    <div class="col-xs-12 gloglebggray text-center">
                        <div class="row">
                            <div class="col-xs-6 col-sm-3">
                                <div class="innerTab pos-relative">
                                    <img src="https://d3rrji2dvvcisw.cloudfront.net/data/qualifier/1523976825.jpg" alt=""> <a class="btn customBtn setonBtm">Prashant Bhutoria</a>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-3">
                                <div class="innerTab pos-relative">
                                    <img src="https://d3rrji2dvvcisw.cloudfront.net/data/qualifier/1523976986.jpg" alt=""> <a class="btn customBtn setonBtm">niharika bindra</a>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-3">
                                <div class="innerTab pos-relative">
                                    <img src="https://d3rrji2dvvcisw.cloudfront.net/data/qualifier/1523978602.jpg" alt=""> <a class="btn customBtn setonBtm">Prabaharan S</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 gloglebggray">
                    <h3 class="globleHeading globlegreen col-xs-12 col-sm-8 setPosabs">REGION - North</h3>

                    <div class="col-xs-12">
                        <div class="inlineBlck col-xs-12 col-sm-4 text-center"><img src="https://d3rrji2dvvcisw.cloudfront.net/data/region/north-india.png" alt=""></div>
                        <div class="inlineBlck col-xs-12 col-sm-7">
                            <ul>
                                <li>- Chandigarh</li>
                                <li>- NCR</li>
                                <li>- Haryana</li>
                                <li>- Himachal Pradesh</li>
                                <li>- Jammu and Kashmir</li>
                                <li>- Punjab</li>
                                <li>- Rajasthan</li>
                                <li>- Uttar Pradesh</li>
                                <li>- Uttarakhand</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>




    <footer>
        <div class="footerNav">
           
        </div>
        <div class="allrights">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">©Poker Sports League. All Rights Reserved</div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-89502683-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-89502683-1');
    </script>

    <script data-obct type="text/javascript">
        /** DO NOT MODIFY THIS CODE**/ ! function(_window, _document) {
            var OB_ADV_ID = '00fabbc9c397955804969747d2789f994b';
            if (_window.obApi) {
                var toArray = function(object) {
                    return Object.prototype.toString.call(object) === '[object Array]' ? object : [object];
                };
                _window.obApi.marketerId = toArray(_window.obApi.marketerId).concat(toArray(OB_ADV_ID));
                return;
            }
            var api = _window.obApi = function() {
                api.dispatch ? api.dispatch.apply(api, arguments) : api.queue.push(arguments);
            };
            api.version = '1.1';
            api.loaded = true;
            api.marketerId = OB_ADV_ID;
            api.queue = [];
            var tag = _document.createElement('script');
            tag.async = true;
            tag.src = '//amplify.outbrain.com/cp/obtp.js';
            tag.type = 'text/javascript';
            var script = _document.getElementsByTagName('script')[0];
            script.parentNode.insertBefore(tag, script);
        }(window, document);
        obApi('track', 'PAGE_VIEW');
    </script>

    <img src='//pixel.mathtag.com/event/img?mt_id=1334628&mt_adid=208364&mt_exem=&mt_excl=&v1=&v2=&v3=&s1=&s2=&s3=' width='1' height='1' />
    <!-- Facebook Pixel Code -->
    <script>
        ! function(f, b, e, v, n, t, s) {
            if (f.fbq) return;
            n = f.fbq = function() {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '555586341482250');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=555586341482250&ev=PageView&noscript=1"
/></noscript>
    <!-- End Facebook Pixel Code -->
    <script src="https://d3rrji2dvvcisw.cloudfront.net/js/jquery.min.js"></script>
    <script src="https://d3rrji2dvvcisw.cloudfront.net/js/owl.carousel.js"></script>
    <script src="https://d3rrji2dvvcisw.cloudfront.net/js/main.js"></script>
    <script type="text/javascript">
        $(function() {
            $('.innerWrapper .gloglebggray .row').each(function() {
                var getval = $(this).children('.col-xs-6').length;
                if ($(this).children('.col-xs-6').length == 2) {
                    $(this).children('.col-xs-6:last-child').addClass('pull-right');
                }
                if ($(this).children('.col-xs-6').length == 3) {
                    $(this).children('.col-xs-6:last-child').addClass('pull-right');
                    $(this).children('.col-xs-6:nth-child(2)').addClass('nofloatblock');
                }

            })

        })
    </script>

</body>

</html>
